:root{
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

    --font1: 'Open Sans', sans-serif;
    --font2: 'Raleway', sans-serif;

    --padding-curve: 10px 0 50px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font1);
}

.header-fylo{
    position: relative;
    padding: var(--padding-curve);
}

.header-fylo::before, .fylo-works::before{
    content: '';
    position: absolute;
    background-image: url('../images/bg-curve-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
    bottom: 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;    
    overflow: hidden;
}

.nav-fylo{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    height: 100px;
}

.logo-figure{
    width: 90px;
}

.logo-img{
    max-width: 100%;
}

.links-nav:first-of-type{
    margin-left: auto;
}

.links-nav{
    text-decoration: none;
    font-family: var(--font2);
    font-weight: 400;
    color: var(--light-gray);
    font-size: .8em;
}

/* Section1 */
.start-img{
    max-width: 400px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.title-start{
    font-family: var(--font2);
    font-weight: 700;
    font-size: 1.5em;
    margin: 1em 0;
    color: var(--very-dark-blue);
    text-align: center;
    line-height: 1.3em;
}

.info-start{
    text-align: center;
    font-family: var(--font2);
    font-weight: 400;
    color: var(--very-dark-blue);
    line-height: 1.3em;
    font-size: 0.9em;
    margin: 0 0 1em;
}

.form-elements, .form-elements-access{
    margin: 0 0 2em;
    border-radius: 3px;
    height: 35px;
    width: 100%;
}
.email{
    border: 1px solid var(--light-gray);
    padding: .3em;
}

.btn-input{
    color: #fff;
    background-color: var(--bright-blue);
    font-family: var(--font2);
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    padding: .3em 0;
    box-shadow: -1px 2px 2px var(--bright-blue);
    border: none;    
}

/* Section2 */
.fylo-works{
    padding: 10px 0 100px;
    position: relative;
}

.works-img{
    max-width: 400px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.works-title{
    text-align: center;
    font-family: var(--font2);
    color: var(--very-dark-blue);
    font-size: 1.5em;
    margin: 2em 0 1.2em;
}

.works-paragraph{
    text-align: left;
    font-family: var(--font1);
    color: var(--desaturated-blue);
    margin-bottom: 1em;
}

.works-link-container{
    text-align: center;    
}

.works-link{
    color: var(--moderate-cyan);
    text-decoration: none;
    border-bottom: 1px solid var(--moderate-cyan);
    padding-bottom: .3em;
    position: relative;
    /* height: 25px; */
}

.works-arrow{
    max-width: 25px;
    vertical-align: middle;
    width: 100%;
}

.works-testimony{
    width: 95%;
    margin: 2.5em auto;
    padding: 1em;
    border-radius: .3em;
}

.works-testimony{
    box-shadow: -2px 2px 0.7em var(--light-gray);

}

.works-paragraph-testimony{
    font-family: var(--font1);
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    margin: 1em 0 2em;
}

.works-person-testimony{
    display: flex;
    align-items: center;
    gap: 1em;
}

.works-person-testimony-fig{
        
}

.works-person-img{
    max-width: 40px;
    width: 100%;
    height: 40px;
    border-radius: 50%;
}

.works-person-testimony-text{
    text-align: left;
}

.works-person-testimony-name{
    font-family: var(--font2);
    font-weight: 700;
    font-size: 1em;
    color: var(--very-dark-blue);
    margin-bottom: .2em;
}

.works-person-testimony-job{
    font-family: var(--font1);
    font-weight: 400;
    font-size: .8em;
    color: var(--light-gray);
}

/* Section 3 */
.access{
    background-color: var(--desaturated-blue);
    padding: var(--padding-curve);
}

.access-text{
    color: #fff;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.access-title{
    font-family: var(--font2);    
    font-size: 1.5em;
    font-weight: 700;
    padding: 2em 0;
}

.access-paragraph{
    font-family: var(--font1);
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.access-form{
    width: 70%;
    margin: 0 auto;
}

/* Footer */
.footer-info{
    padding: 2.5em 0 1em;
    background-color: var(--very-dark-blue);
    color: #fff;
}

.footer-container{
    width: 90%;
    margin: 0 auto;
}

.footer-direct-contact{

}

.footer-figure{

}

.footer-img{
    max-width: 150px;
    width: 100%;
    margin-bottom: 1em;
}

.footer-direct-contact-img{
    margin-bottom: 1.5em;
}

.contact-img{
    max-width: 20px;
    width: 100%;
    margin-right: 1em;
    vertical-align: middle;
}

.footer-links, .footer-contact-link{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: .5em;
}

.footer-contact{
    margin: 2em 0;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.social-media-links{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    gap: 1.5;
    display: flex;
}

@media (min-width: 768px){
    .section-start{
        display: flex;
        flex-direction: row-reverse;
    }
    
    
    .start-img{
        max-width: none;
    }

    .start-text{
        /* flex-basis: 50%; */
        display: flex;
        flex-direction: column;
    }
    
    .fylo-works{
        display: flex;
        flex-direction: row-reverse;
    }

    .works-img{
        max-width: none;
    }

    ..works-title{
        text-align: left;
    }

    .works-link-container{
        text-align: left;
    }

    .works-testimony{
        width: 60%;
        margin: 2.5em 0;
    }

    .access{
        display: flex;
        padding: 2em 3em;
        gap: 5em;
    }

    .access-title, .access-paragraph{
        text-align: left;
        padding: 1em 0 0;        
    }

    .access-form{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-direct-contact {
        flex-basis: 20%;
    }

    .footer-figure {
        margin-bottom: 2em;
    }

    .footer-us, .footer-contact{
        margin-top: 6em;
    }

    .footer-img {
        max-width: 300px;
    }
}